@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

html {
  position: relative;
  min-height: 100%;

}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  font-size: 16px;
  font-family: 'Lato', 'sans-serif';
}
.footer {
  position: absolute;
  float: left;
  text-align: center;
  direction: ltr;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  padding-top: 5px;
  background-color: black;
  color: white;
}

.container-fluid {
	font-weight: bolder;
}

a {
  color: white;
}

a:hover {
  color: #13c607;
}


.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #adc0d4;
}

.dropdown-item a {
    color: #212529;
}
